# Base de datos
DB_HOST=localhost
DB_PORT=5433    # usar 5433 si hay PostgreSQL nativo en Windows (ver docs/07-guia-despliegue.md §03)
DB_NAME=safepay_db
DB_USER=
DB_PASS=

# Autenticación
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=30d

# Mercado Pago
MP_APP_ID=
MP_CLIENT_SECRET=
MP_WEBHOOK_SECRET=
MP_MARKETPLACE_FEE=990

# Servicios externos
TWILIO_SID=
TWILIO_TOKEN=
TWILIO_SERVICE_SID=
AWS_S3_BUCKET=safepay-files
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
FIREBASE_KEY=

# App
NODE_ENV=development
API_URL=http://localhost:3000
PORT=3000
